ul {
text-align: left;
}

p {
  text-align: justify;
}
head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #03051a;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

body {
	background-color: #000000;
	font-family: Source Code Pro;
	color: #e292a5;
  text-align: center;
  line-height: 1.5;
  margin-left: 30%;
  margin-right: 30%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #e292a5;
  text-align: center;
  font-size: 8px;
  font-family: Source Code Pro;
}

#lainimage {
position: fixed;
bottom: 0;
right: 0;
width: auto; 
height: 420px;
color: white;
}

#toolbar {
  font-size: 20px;
}

#toolbar a {
text-decoration: none;
color: white;
}

