pre {
    background: #1f2329;
    border-left: 3px solid #e292a5;
    color: #E3E3E3;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
}
ul {
text-align: left;
}

p {
  text-align: justify;
  color: #E3E3E3;
}
head {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #03051a;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

body {
	background-color: #000000;
	font-family: Source Code Pro;
	color: #e292a5;
  text-align: center;
  line-height: 1.5;
  margin-left: 30%;
  margin-right: 30%;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #000000;
  color: #e292a5;
  text-align: center;
  font-size: 8px;
  font-family: Source Code Pro;
  width: 100%
}

#lainimage {
position: fixed;
bottom: 0;
right: 0;
width: auto; 
height: 420px;
color: white;
}

#toolbar {
  font-size: 20px;
}

#toolbar a {
text-decoration: none;
color: white;
}

