a {
 text-decoration: none;
 color: white;
}


body {
	background-color: #000000;
	font-family: Source Code Pro;
	color: palevioletred;
  text-align: center;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #e292a5;
  text-align: center;
  font-size: 8px;
  font-family: sans-serif;
}

#lainimage {
 position: fixed;
 bottom: 0;
 right: 0;
 width: auto; 
 height: 420px;
}

head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #03051a;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  
}

.title {
  text-align: center;
  color: #e292a5;
}

#toolbar {
  text-align: center;
}

#hometext {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

